@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");

:root {
  --bg-black-900:#151515;
  --bg-black-100:#222222;
  --bg-black-50:#393939;
  --text-black-900:#ffffff;
  --text-black-700:#e9e9e9;
  // --blue: #273FAD;
  --yellow: 	#adab27;
  --background: #EBEBEB;
  // --shapes: #FFFFFF;
  // --text-title: #3D3D4D;
  // --text: #1C1C29;
  // --text-light: #A09CB1;
}


*{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}


html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: #f00;
}

body {
  background: #000;
}

section {
  padding: 5rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}

.heading::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: .1rem;
  width: 100%;
  background: #aaa;
  z-index: -1;
}

.heading span {
  font-size: 3rem;
  color: #f00;
  background: #000;
  padding: .5rem 1.5rem;
  border: 0.1rem solid #aaa;
  border-radius: .5rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  padding-right: 3rem;
  background: linear-gradient(130deg, #f00 93%, transparent 90%);
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

// **************************************************************************


// @media (max-width: 991px) {
//   html {
//     font-size: 55%;
//     scroll-padding: 7rem;
//   }
//   .header {
//     padding: 0 2rem;
//   }
//   section {
//     padding: 3rem 2rem;
//   }
//   .home .slide {
//     padding: 2rem 5%;
//   }
//   .home .slide .content {
//     width: 50rem;
//   }
//   .home .slide .content h3 {
//     font-size: 4rem;
//   }
// }

// @media (max-width: 768px) {
//   #menu-btn {
//     display: inline-block;
//   }
//   #menu-btn.fa-times {
//     -webkit-transform: rotate(180deg);
//             transform: rotate(180deg);
//   }
//   .header {
//     padding: 2rem;
//   }
//   .header .navbar {
//     position: absolute;
//     top: 99%;
//     left: 0;
//     right: 0;
//     background: #000;
//     -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
//             clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
//   }
//   .header .navbar.active {
//     -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
//             clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
//   }
//   .header .navbar a {
//     display: block;
//     font-size: 2rem;
//   }
//   .about {
//     gap: 3rem;
//   }
//   .about .image {
//     margin-top: 5rem;
//   }
//   .about .content .title {
//     font-size: 3rem;
//   }
//   .features .box-container .box.second {
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//         -ms-flex-flow: column;
//             flex-flow: column;
//   }
// }

// @media (max-width: 450px) {
//   html {
//     font-size: 50%;
//   }
// }

// .review2 {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//       -ms-flex-align: center;
//           align-items: center;
//   -ms-flex-wrap: wrap;
//       flex-wrap: wrap;
//   gap: 20rem;
// }

// .review2 .information2 {
//   -webkit-box-flex: 10;
//       -ms-flex: 1 1 35rem;
//           flex: 1 1 35rem;
// }

// .review2 .information2 span {
//   font-size: 2rem !important;
//   color: rgb(255, 0, 0);
// }

// .review2 .information2 h3 {
//   font-size: 3rem;
//   color: #fff;
//   padding-top: 1rem;
// }

// .review2 .information2 p {
//   font-size: 1.5rem;
//   line-height: 2;
//   color: #aaa;
//   padding: 1rem 0;
// }

// .map h3{
//   font-size: 3rem;
//   text-align: center;
// }