.features .box-container {
    display: -ms-grid;
    display: grid;
  }
  
  .features .box-container .box {
    background: #111;
  }
  
  .features .box-container .box.second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  
  .features .box-container .box:hover .image img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .features .box-container .box .image {
    height: 30rem;
    width: 100%;
    overflow: hidden;
  }
  
  .features .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .features .box-container .box .content {
    padding: 2rem;
    text-align: center;
  }
  
  .features .box-container .box .content img {
    height: 9rem;
    margin-bottom: 1rem;
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  
  .features .box-container .box .content h3 {
    font-size: 2rem;
    color: #f00;
  }
  
  .features .box-container .box .content p {
    line-height: 2;
    font-size: 1.5rem;
    color: #aaa;
    padding: 1rem 0;
  }